/* 
Theme Name: APTTUS ACCELERATE 
Theme URI: 
Description: APTTUS ACCELERATE 
Version: 0.1
Author: Kamtar.J PSYXX @ SCORCH®
Author URI: www.psyxx.com + www.scorchagency.com  + 
Template: twentytwelve
*/

@import url("../twentytwelve/style.css");
html{
	background-repeat:repeat-x;

}
.hidden{
	display:none;
}
p{
	color:#888989;
		font-family:Verdana, Geneva, sans-serif;

}

 h3{
	font-size:14px;
	color:#ee8b35;
	font-weight:normal;
	margin-top:0px !important;
	margin-bottom:0px !important;
 }
 
 h3.widget-title {
	font-size:14px;
	color:#ee8b35;
 }
 
 h4{
    clear: none !important;
	color: #406d7b;
	margin:0px !important;
}
.site {
	box-shadow:none !important;
	background:none !important;
}
body, body.custom-font-enabled {
	font-family:Verdana, Geneva, sans-serif;
	background:none;
}
#logo {
position: absolute;
margin-left: 2%;
width: 70%;
height: auto !important;
}

hgroup {
	visibility:hidden;
}

#main.wrapper{
	background:#fff;
	padding:40px 20px 100px 20px;
	position:relative;
	z-index:2;
}

.site-header {
	height:200px;
	z-index:3;
	background-size:90%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	position:relative;
}

.nav-menu{
	margin-top:64px;
	position: relative;
	z-index:7;
	-webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.25);
	background:#70b345;
	width:102%;
	margin-left:-1%;
}

#menu-navex {
	width:100%;
	margin: 10px 0px 10px 0px

}
ul#menu-navex{
	border:none;
}
	
.nav-menu ul{
	border:none !important;

}

.main-navigation li {
	padding: 0 2.26rem;
	margin:0px;
	border:none ;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	font-size:100%;
}
.main-navigation li a{
	color:#fff;
}

.main-navigation li a{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

/* =nav mods */

.main-navigation li:hover > a {
	color:#ee8b35 !important;
}

.main-navigation li:hover {
	background:#fff;
	
}
.current_page_item > a {
	color:#ee8b35 !important;	
}
li.current_page_item {
	background:#fff;
}
.current_page_item > a{
	font-weight:normal !important;
}


/* end nav mods */

.main-navigation ul.nav-menu.toggled-on,.menu-toggle {
	margin-top:60px;
	width:100%;
	background:#70b345;
	border:0px;
	color:#fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}


h3.menu-toggle, .menu-toggle:active, .menu-toggle.toggled-on, button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
margin-top: 130px !important;
padding: 15px !important;
background: #70b345 !important;
position: relative;
}

ul#menu-navex {
border: none;
margin-top: 0px !important;
}
.custombuttz.hdr {
position: absolute;
right: 0px;
margin-bottom: 0px !important;
padding: 15px;
width: auto;
font-size: 14px;
bottom: 40px;
-moz-box-shadow: inset 0px -8px 5px rgba(50, 50, 50, 0.25);
-webkit-box-shadow: inset 0px -8px 5px rgba(50, 50, 50, 0.25);
box-shadow: inset 0px -8px 5px rgba(50, 50, 50, 0.25);
left:auto;
}

.custombuttz.hdr:hover {

-moz-box-shadow: inset 0px -10px 5px rgba(50, 50, 50, 0.25);
-webkit-box-shadow: inset 0px -10px 5px rgba(50, 50, 50, 0.25);
box-shadow: inset 0px -10px 5px rgba(50, 50, 50, 0.25);
}



.entry-header .entry-title, .entry-title {
	font-size: 3rem;
	color: #37783e;
	font-weight: 600;
}

.entry-header p{
	color:#ee8b35;
	font-size:20px;
	font-weight:100;
	}

.sliderwrap{
	width:100%;

	background:green;
	top: 20px;
	margin-bottom:60px;
	position: relative;
}

.site-content {

	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.entry-content h1{
	font-size: 2.1rem !important;
	margin-bottom: 1.2rem;
	color: #406d7b;
	font-weight: 600;
	line-height: 1;
	margin-top:0px;
}

.greentable{
	border:1px solid rgba(204,204,204,1);
	border-top:20px solid #70b345;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	list-style:none;
	margin-bottom:40px;
}

.greentable p{
	display:table;
}

.greentable img{
	float:left;
	margin:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

ul.greentable{
	border:1px solid rgba(204,204,204,1);
	border-top:20px solid #70b345;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	list-style:none;
	padding-left:0px;
	padding-right:0px;
	line-height:2;
}
ul.greentable h3{
	padding-left: 40px;
	line-height: 3;
	margin-bottom: 5px !important;
}

ul.greentable li{
	margin-left:0px;
	padding-left:40px;
}

.li_grey{
	background:rgb(204,204,204);
}

.widget-area .widget{
	border:1px solid rgba(204,204,204,1);
	border-top:20px solid #70b345;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;

}

.widget-area .widget h3 {
	font-size:14px;
	text-transform:capitalize;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.custombuttz{
color: rgb(230, 230, 230);
font-size: 12px;
padding: 6px;
text-shadow: 0px 1px 0px rgba(30, 30, 30, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
width: 50%;
background: #ee8b35;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, #ed710b 0%, #ee8b35 28%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed710b), color-stop(28%,#ee8b35));
background: -webkit-linear-gradient(top, #ed710b 0%,#ee8b35 28%);
background: -o-linear-gradient(top, #ed710b 0%,#ee8b35 28%);
background: -ms-linear-gradient(top, #ed710b 0%,#ee8b35 28%);
background: linear-gradient(to bottom, #ed710b 0%,#ee8b35 28%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed710b', endColorstr='#ee8b35',GradientType=0 );
text-align: center;
-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.25);
-moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.25);
box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.25);
margin: 10px auto 10px auto;
left: 20%;
position: relative;
	
}

.widget-area .widget a {
	text-decoration:none !important;
}
.custombuttz:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	text-shadow: 0px 1px 0px rgba(30, 30, 30, 0.0);
	cursor:pointer;

}



#cloudwrapper{
	position:absolute;
}
.cloud{
	background:url(./img/cloud_11.png);
	background-size:100%;
	background-size:contain;
	background-repeat:no-repeat;
	position:absolute;
}

.clarge{
	width: 260px;
	height: 173px;
	top: 150px;
	margin-left: -50px;
}

.cxl{
	width: 320px;
height: 203px;
top: 600px;
left: 50%;
margin-left: 20% ;

}
.cs{
	width: 120px;
	height: 140px;
	bottom: 30px;
	margin-left: -25px;
	z-index: 2;
}




.wpui-light .ui-collapsible-header, .wpui-light .ui-accordion h3.ui-accordion-header{
	background:none !important;
	border:none !important;
}
.wpui-light .ui-accordion .ui-accordion-content{
		border:none !important;
		
}
	
#footerwrapper{
	position: relative;
	z-index: 9;
	bottom: 0;
	background-image: url(./img/water_gradient_46.jpg);
	max-width: 105%;
	width: 100%;
	height: 82px;
	padding: 0px;
	bottom: 0;
	font-size:12px;
	margin: 240px 0px 0px 0px;	
}

#bridge{
	background-position:44%;
	background-image: url(./img/Bridge_scenery_10.png);
	background-repeat: repeat-x;
	height: 160px;
	z-index: 9;
	position: absolute;
	width: 100%;
	bottom:68px;
}
footer[role="contentinfo"] {
	border: none;
	color: #fff !important;
	height: 0px;
	margin: auto;
	border:none;
	color:#fff !important;

	
}
footer[role="contentinfo"] a{
	color:#fff !important;
}

.site-info{
	font-size:10px;
	padding:10px;
	text-align:center;
}

.socializer{
	position: relative;
	float: right;
	top: 10px;
	background: #fff;
}

.scholarship{
	position:relative;
	background:url(./img/scholarship_icon_41.gif);
	background-position:0px 5px;
	padding-left:50px;
	background-repeat:no-repeat;
	line-height:2;

}
.extras{
	position:relative;
	background:url(./img/info_icon.gif);
	background-position:0px 5px;
	padding-left:50px;
	background-repeat:no-repeat;
	line-height:2;
	margin:20px 0 100px 0;

}


.scholarship a, .extras a {
	color:#70b345;
	text-decoration:none;

}

.timetag {
float: left;
width: 75px;
}

.tp-caption.small_text h1 {
line-height: 1.2;
}

.soc{
	display:none;
}

.sponsorslounge{
	text-align:center !important;
}

.sponsorslounge img {
	padding: 25px;
	margin: 0px !important;
	float: none !important;
	display: inline-block;
	box-shadow: none !important;
}

.behalved {
width: 100%;
display: inline-table;
margin: 0 1%;

}

.behalved table {
 	padding:10px;
	list-style:none;
	margin:0px !important;
	

}

.behalved table td {
padding: 0px 5px;

}


.behalved  ul.greentable li {
padding-left: 10px;
}
td{
	color:#444;
}

/* =Media queries
-------------------------------------------------------------- */



/* Minimum width of 600 pixels. */

@media screen and (min-width: 600px) {
#logo{
	position:absolute;
	margin-left:2%;
	 width:350px!important;
	 height:auto !important;
}
#menu-navex {
	margin-top: 40px !important;
	width:102%;
	margin-left:-1%;
}


.soc{
	display:block;
	float:left;
	background:#406d7b;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:10px;
	margin-right:10px;
	
}
.socicon{
	float:right;
}
.socializer{
}

	
#footerwrapper{
	background-repeat: repeat-x;
	position: fixed;
	bottom: -10px;
		
}

.site {
	max-width: 71.5rem;
	}
	
.site-content {
	width: 60%;
	
}
.site-header {
padding-bottom: 0px !important;
padding-top: 0px !important;
background-size: 50%;
background-position: 40% 30%;
}
.widget-area {
	width:35%;
}

#main.wrapper{
	background:#fff;
	padding:70px 70px 200px 70px;
	position:relative;
	z-index:2;
}


#bridge{
	background-position:60%;
	
}

ul#menu-navex {
border: none;
margin-top: 85px !important;
}

.tp-leftarrow.default{
	display:block;
	background:url(./img/arrowsVL.png);
}
.tp-rightarrow.default{
	display:block;
	background:url(./img/arrowsVR.png);
}



}


/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {


/*.main-navigation li:hover > a{
	-webkit-box-shadow: 0px 6px 0px rgba(238, 139, 53, 0.75);
	-moz-box-shadow:    0px 6px 0px rgba(238, 139, 53, 0.75);
	box-shadow:         0px 6px 0px rgba(238, 139, 53, 0.75);

}

.current_page_item > a{
	-webkit-box-shadow:  0px 6px 0px rgba(99, 137, 150, 1);
	-moz-box-shadow:     0px 6px 0px rgba(99, 137, 150, 1);
	box-shadow:         0px 6px 0px rgba(99, 137, 150, 1);


}*/

.behalved {
width: 45%;

}

}


@media screen and (min-width: 760px) and (max-width: 1080px) {
.main-navigation li {
	padding: 0 .8rem;
	font-size:1rem;
}


}

@media screen and (max-width: 760px){
.main-navigation li {
	padding: .2rem .5rem;
	font-size:.8rem;
}

}

@media screen and (min-width:600px) and (max-width: 1050px){
	.site-header {
	background-size:55%;
	background-position:40% 60%;
	
}
}

/* =Print
----------------------------------------------- */

@media print {
	
}
	




#bluefade{
	height:100%;
	width:100%;
	margin:0px;
	position:fixed;
	z-index:1;
	top:0px;

	background-repeat:repeat-x;
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNiUiIHN0b3AtY29sb3I9IiM0YTdiODUiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MiUiIHN0b3AtY29sb3I9IiM0YTdiODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGE3Yjg1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);

background: -moz-linear-gradient(45deg,  rgba(125,185,232,0) 0%, rgba(74,123,133,0.12) 6%, rgba(74,123,133,1) 52%, rgba(74,123,133,1) 100%);

background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(125,185,232,0)), color-stop(6%,rgba(74,123,133,0.12)), color-stop(52%,rgba(74,123,133,1)), color-stop(100%,rgba(74,123,133,1)));

background: -webkit-linear-gradient(45deg,  rgba(125,185,232,0) 0%,rgba(74,123,133,0.12) 6%,rgba(74,123,133,1) 52%,rgba(74,123,133,1) 100%);

background: -o-linear-gradient(45deg,  rgba(125,185,232,0) 0%,rgba(74,123,133,0.12) 6%,rgba(74,123,133,1) 52%,rgba(74,123,133,1) 100%);

background: -ms-linear-gradient(45deg,  rgba(125,185,232,0) 0%,rgba(74,123,133,0.12) 6%,rgba(74,123,133,1) 52%,rgba(74,123,133,1) 100%);

background: linear-gradient(45deg,  rgba(125,185,232,0) 0%,rgba(74,123,133,0.12) 6%,rgba(74,123,133,1) 52%,rgba(74,123,133,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#4a7b85',GradientType=1 );




}

#whitefade{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	height:100px;
	width:100%;
	height: 200px;
	width: 100%;
	position: absolute !important;
	bottom:80px;

}

#horizontalfade{
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));

background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
opacity:0.9;
width:90%;
position:fixed;
height:100%;
top:0px;

}



#starpattern{
	background-repeat:repeat-x;
	height:470px;
	width:100%;
	position:fixed;
	top:0px;
	left:-20px;
	opacity:0.2;
	z-index:1;

}



.addthis_32x32_style .dummy .at300bs, .addthis_32x32_style .at300bs, .addthis_32x32_style .at15t{
	background:none;
	background-repeat:no-repeat;
	
}

.addthis_button_twitter{ background:url(./img/twitter_icon_13.gif);background-position:center;background-repeat:no-repeat}
.addthis_button_facebook{ background:url(./img/facebook_icon_15.gif);background-position:center;background-repeat:no-repeat}
.addthis_button_linkedin{ background:url(./img/linkedin_icon_17.gif);background-position:center;background-repeat:no-repeat}
.addthis_button_compact{ background:url(./img/more_icon.gif);background-position:center;background-repeat:no-repeat}

.wp-tab-content-wrapper td {
padding: 6px 10px 6px 10px !important;
}

#carousel-gallery { 
height: 500px; 
}

}