Please create a page in the site named "Featured Blog Post Container" and include some variation of the code below:

<!-- optional label -->
<div class="section-label">Featured Posts</div>

<!-- wrap the new_royalslider shortcode in the div below to break the full bleed border above and below -->
<div class="top-bleed-correction">[new_royalslider id="1"]</div>

<!-- optional label -->
<div class="section-label">Filter Categories</div>

<!-- filter buttons for selected music blog categories -->
[musicblogfilters]

<!-- filter buttons for selected social blog categories -->
[socialblogfilters]

<!-- This MUST be in the copy to properly define the featured items block.  Units can be em or px.  Set height to 400px for only slider block --> 
<style type="text/css">.featuredBlogPostBlock {height: 47em !important;}</style>
