Use the code below in RoyalSlider for the featured blog posts slider, under the "Edit Slide Markup" section:

<div class="rsContent">
  {{image_tag}}
  {{thumbnail}}
  {{html}}
  {{animated_blocks}}
  <div class="blogFeatureDate"<span>{{date}}</span></div>
  <div class="blogFeatureHeadline"><span>{{title}}</span></div>
  <div class="blogFeatureExcerpt"><span>{{excerpt}}</span></div>
  {{#link_url}}
  <a class="rsLink" href="{{link_url}}">{{title}}</a>
  {{/link_url}}
</div>